.main {
  background-color: #191414;


/* Tablet */
@media (max-width: 820px) {
  .main {
    background-color: #191414;
  }
}
  
/* Mobile */

@media (max-width: 414px) {
  .main {
    background-color: #191414;
  }
}